# if one want to use torch with cuda, comment out line 3 and comment line 4
# --find-links https://download.pytorch.org/whl/cu121/torch_stable.html
# torch==2.3.0+cu121
torch==2.3.0
torchdata==0.7.1
torcheval==0.0.7
torchinfo==1.8.0
torchsummary==1.5.1
torchtext==0.18.0
datasets==2.19.1
pydantic==2.7.0
pydantic_core==2.18.1
portalocker>=2.0.0
transformers==4.41.0
sentencepiece==0.2.0
gradio>=4.0.0
jupyter
lion-pytorch
nltk